---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Hero>
    <Fragment slot="title">
      Groshidze блог.
      <span class="text-accent dark:text-white highlight"> React</span> + мысли о фронтенде
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Привет, меня зовут Дима Грош </span>, я фронтенд разработчик из солнечного Ростова-на-Дону.
      </span>
      Во оснвоном пишу на React, люблю выступать на конференциях и делиться своими мыслями)
    </Fragment>
  </Hero>
  <Note />
  <LatestPosts
    title="Узнайте больше в блоге"
    information={`Блог используется для отображения моих мыслей, статей и докладов. Каждая новая статья будет интересным шагом, который вам помжет узнать, о моем опыте в разработке. Спасибо.`}
    postIds={[
      'astrowind-template-in-depth.md',
    ]}
  />
</Layout>
