---
import Layout from '~/layouts/BaseLayout.astro';

const title = `Terms of uae`;
---

<Layout meta={{ title }}>
  <section class="flex items-center h-full p-16">
    <div class="container grid gap-4 grid-cols-1 px-5 mx-auto my-8">
        <h1 class="text-3xl font-semibold md:text-3xl">Terms of Use Currency Converter</h1>
        <h2 class="text-2xl font-semibold md:text-2xl">Personal identification information</h2>
        <p>We only provide information. We never ask for personal or private information like names, email addresses or credit card numbers.<p>
        <p>Third-party disclosure<p>
        <p>No, we do not sell, trade, or otherwise, transfer to outside parties Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property or safety.<p>
        <p>Sharing your personal information<p>
        <p>We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above. We may use third-party service providers to help us operate our business and the Site or administer activities on our behalfs, such as sending out newsletters or surveys. We may share your information with these third parties for those limited purposes provided that you have given us your permission.<p>
        <p>Changes to this privacy policy<p>
        <p>Currency converter app has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.<p>
        <p>Your acceptance of these terms<p>
        <p>By using this service, you signify your acceptance of this policy and terms of service. If you do not agree to this policy, please do not use our service. Your continued use of the service following the posting of changes to this policy will be deemed your acceptance of those changes.<p>
        <p>Terms of Service<p>
        <p>To contact Currency converter on topics related to products, our privacy policy or in another case, use the dmitrii.grosh.developer@gmail.com<p>
        <p>Best regards! Last Update: March 26, 2023.<p>
    </div>
  </section>
</Layout>
